{#
 # Available variables:
 # - card__base_class - base classname of the wrapper.
 # - card__modifiers - array of modifiers to add to the base classname of the wrapper.
 # - card__blockname - blockname prepended to the base classname of the wrapper(s) and each component.
 # - card__extra_classes - array of extra classes to add to the wrapper.
 # - card__attributes - HTML attributes for the wrapper.
 # - card__link__url - the URL the link should point to.
 #
 # - card__element - the element to use as a wrapper. Either 'a' or 'div'.
 #
 # - card__content__modifiers - array of modifiers to add to the base classname of the copy wrapper.
 #
 # - card__heading - the content of the title component.
 # - card__heading__base_class - base classname of the title component. Defaults to "heading".
 # - card__heading__modifiers - array of modifiers to add to the base classname of the title.
 #
 # - card__body - the content of the body component.
 # - card__body__base_class - base classname of the body component. Defaults to "body".
 # - card__body__modifiers - array of modifiers to add to the base classname of the body.
 #
 # - card__icon__base_class - base classname of the icon component. Defaults to "icon".
 # - card__icon__modifiers - array of modifiers to add to the base classname of the icon.
 # - card__icon__name - the name of the icon to use on the card. Defaults to "arrow".
 #}
{% set card__base_class = "card" %}

{% if card__link__url %}
  {% set card__element = "a" %}

  {% set card__attributes = {
    "href": card__link__url,
  } %}
{% else %}
  {% set card__element = "div" %}
{% endif %}

{% if not card__modifiers %}
  {% set card__modifiers = [] %}
{% endif %}

{% if "slim" in card__modifiers %}
  {% set card__icon__name = 'service-arrow-large' %}
  {% set card__mobile_icon__name = 'service-arrow' %}
{% endif %}

{% if not card__body %}
  {% set card__modifiers = card__modifiers|merge([ "no-body" ]) %}
{% endif %}

<{{ card__element }}
  {{ bem(card__base_class, card__modifiers|default([]), card__blockname, card__extra_classes) }}
  {% for attribute, value in card__attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
>
  {# Content #}
  <div {{ bem("content", card__content__modifiers|default([]), card__base_class) }}>
    {# Heading #}
    {% if card__heading and card__body %}
      {{ title_prefix }}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        heading_base_class: card__heading__base_class|default("heading"),
        heading_modifiers: card__heading__modifiers,
        heading_blockname: card__base_class,
        heading_level: 2,
        heading: card__heading,
      } %}
      {{ title_suffix }}
    {% elseif card__heading %}
      {% include "@atoms/02-text/text/07-text-block.twig" with {
        text_block_base_class: card__heading__base_class|default("heading"),
        text_block_modifiers: card__heading__modifiers,
        text_block_blockname: card__base_class,
        text_block_extra_classes: [ "h2", "hyphenate" ],
        text_block_content: card__heading,
      } %}
    {% endif %}
    {# Body #}
    {% if card__body %}
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_base_class: card__body__base_class|default("body"),
        paragraph_modifiers: card__body__modifiers,
        paragraph_blockname: card__base_class,
        paragraph_content: card__body,
      } %}
    {% endif %}
    {# Icon #}
    {% if card__link__url %}
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_base_class: card__icon__base_class|default("icon"),
        icon_modifiers: card__icon__modifiers,
        icon_blockname: card__base_class,
        icon_extra_class: [ "regular" ],
        icon_name: card__icon__name|default("arrow"),
        icon_decorative: true,
      } %}
      {% if card__mobile_icon__name %}
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_base_class: card__mobile_icon__base_class|default("icon"),
          icon_modifiers: card__mobile_icon__modifiers,
          icon_blockname: card__base_class,
          icon_extra_class: [ "mobile" ],
          icon_name: card__mobile_icon__name|default("arrow"),
          icon_decorative: true,
        } %}
      {% endif %}
    {% endif %}
  </div>
</{{ card__element }}>
