{{ attach_library("tampere/site-header") }}

{% set header__base_class = header__base_class|default("minisite-header") %}

{% set header_navigation_container_id = "minisite-header-navigation-container" %}
{% set main_site_front_page = path('<front>') %}

<header id="site-header" {{ bem(header__base_class, (header__modifiers|default([])), header__blockname) }}>
  <div {{ bem("main-wrapper", (header__main_wrapper__modifiers|default([])), header__base_class)}}>
    <div {{ bem("main", (header__main__modifiers|default([])), header__base_class)}}>

      <div {{ bem("translate", (header__translate__modifiers|default([])), header__base_class)}}>
        <button class='header-translate-expand' aria-label={{ 'Translate'|t }}>
            <span>{{ 'Translate'|t }}</span>
        </button>
        <div class='header-translate-block' hidden>
          {% block header_google_translate %}{% endblock %}
          <div class="manage-cookies-section">
            <p>
              {{ "Unfortunately you are not able to use the translation option since you haven't accepted related cookies. You can accept cookies by clicking the Renew consent icon at the bottom left corner of the website or on the Accept cookies button below." |t }}
            </p>
            <button class="consent-placeholder__button" onClick="CookieConsent.renew()">
              {{ 'Accept cookies'|t({}, { context: 'Cookie information' }) }}
            </button>
          </div>
        </div>
      </div>

      {# Desktop elements start #}
      <div {{ bem("top-section", (header__top_section__modifiers|default([ "desktop" ])), header__base_class)}}>
        <div {{ bem("back-to-frontpage", (header__back_to_frontpage__modifiers|default([])), header__base_class)}}>
          {% include "@atoms/link-with-icon/link-with-icon.twig" with {
            "link_with_icon__modifiers": [ "back-to-frontpage" ],
            "link_with_icon__url": main_site_front_page,
            "link_with_icon__link_text": "Tampere.fi",
            "link_with_icon__link_icon": "breadcrumb-arrow-mobile",
          } %}
        </div>
        <div {{ bem("language-switcher", (header__language_switcher__modifiers|default([])), header__base_class, ['notranslate'])}}>
          {% block header_language_switcher %}
            {% include "@molecules/language-switcher/language-switcher.twig" with {
              "language_switcher__modifiers": [ "dynamic" ],
              "links": header__language__links,
              "current_language_code": header__current_language__code,
              "current_language_name": header__current_language__name,
            } %}
          {% endblock %}
        </div>
        <div {{ bem("search", (header__search__modifiers|default([])), header__base_class)}}>
          {% block header_search %}
            {% include "@organisms/search-toggle/search-toggle.twig" %}
          {% endblock %}
        </div>
      </div>
      <div {{ bem("bottom-section", (header__bottom_section__modifiers|default([ "desktop" ])), header__base_class)}}>
        {% block header_text_logo_with_tagline %}
          {% include "@molecules/text-logo-with-tagline/text-logo-with-tagline.twig" with {
            "group_name": group_name,
            "text_logo_w_tagline__url": front_page_url,
            "display_tagline": TRUE,
            "text_logo_w_tagline__tagline": header__tagline,
          } %}
        {% endblock %}

        {% if header__heading %}
          <span {{ bem("heading", (header__heading__modifiers|default()), header__base_class)}}>
            {{ header__heading }}
          </span>
        {% endif %}

        {% include "@atoms/04-images/icons/_icon.twig" with {
          "icon_filename": "logo-icons",
          "icon_name": "text-logo",
          "icon_base_class": "text-logo",
          "icon_blockname": header__base_class,
          "icon_decorative": true,
        } %}
      </div>
      {% if has_minisite_menu_with_items %}
        <div {{ bem("menu-button", [ "desktop" ], header__base_class)}}>
          {% include "@molecules/menu-button/menu-button.twig" with {
            "menu_button_controls": header_navigation_container_id,
            "menu_button__modifiers": [ "minisite" ],
          } %}
        </div>
      {% endif %}
      {# Desktop elements end #}

      {# Mobile elements start #}
      <div {{ bem("top-section", (header__top_section__modifiers|default([ "mobile" ])), header__base_class)}}>
        {% block header_mobile_text_logo_with_tagline %}
          {% include "@molecules/text-logo-with-tagline/text-logo-with-tagline.twig" with {
            "group_name": group_name,
            "text_logo_w_tagline__url": front_page_url,
            "display_tagline": FALSE,
          } %}
        {% endblock %}

        <div {{ bem("language-switcher", [ "mobile" ], header__base_class)}}>
          {% block header_mobile_language_switcher %}
            {% include "@molecules/language-switcher/language-switcher.twig" with {
              "language_switcher__modifiers": [ "dynamic" ],
              "language_switcher_id": "mobile-language-switcher",
              "language_switcher_toggle_id": "mobile-language-switcher-toggle",
              "links": header__language__links,
              "current_language_code": header__current_language__code,
              "current_language_name": header__current_language__name,
            } %}
          {% endblock %}
        </div>

        {% include "@atoms/04-images/icons/_icon.twig" with {
          "icon_filename": "logo-icons",
          "icon_name": "text-logo",
          "icon_base_class": "text-logo",
          "icon_blockname": header__base_class,
          "icon_decorative": true,
        } %}

        {% if header__heading %}
          <span {{ bem("heading", (header__heading__modifiers|default()), header__base_class)}}>
            {{ header__heading }}
          </span>
        {% endif %}
      </div>
      <div {{ bem("bottom-section", (header__bottom_section__modifiers|default([ "mobile" ])), header__base_class)}}>
        <div {{ bem("back-to-frontpage", (header__back_to_frontpage__modifiers|default([])), header__base_class)}}>
          {% include "@atoms/link-with-icon/link-with-icon.twig" with {
            "link_with_icon__modifiers": [ "back-to-frontpage" ],
            "link_with_icon__url": main_site_front_page,
            "link_with_icon__link_text": "Tampere.fi",
            "link_with_icon__link_icon": "breadcrumb-arrow-mobile",
          } %}
        </div>
        <div {{ bem("bottom-section-right-group", (header__bottom_section_right_group__modifiers|default([])), header__base_class)}}>
          <div {{ bem("search", (header__search__modifiers|default([])), header__base_class)}}>
            {% block header_mobile_search %}
              {% include "@organisms/search-toggle/search-toggle.twig" with {
                "search_toggle_controls": "search-toggle-search-bar-mobile",
                "search_toggle_button_mode": "mobile",
                "search_toggle__search_bar__aria_label": "Mobile site search"|t,
              } %}
            {% endblock %}
          </div>
          {% if has_minisite_menu_with_items %}
            <div {{ bem("menu-button", [ "mobile" ], header__base_class)}}>
              {% include "@molecules/menu-button/menu-button.twig" with {
                "menu_button_controls": header_navigation_container_id,
                "menu_button__modifiers": [ "mobile", "minisite" ],
              } %}
            </div>
          {% endif %}
        </div>
      </div>
      {# Mobile elements end #}

    </div>
  </div>

  <div {{ bem("navigation-wrapper", (header__main_wrapper__modifiers|default([])), header__base_class)}}>
    <div id="{{ header_navigation_container_id }}" {{ bem("navigation", (header__bottom_section__modifiers|default([])), header__base_class, [ "is-closed" ])}}>
      <div {{ bem("main-navigation", (header__main_navigation__modifiers|default([])), header__base_class)}}>
        {% block header_main_navigation %}
          {% include "@molecules/menus/main-menu/main-menu.twig" with {
            "main_menu_label_id": "main-menu-label",
            "main_menu_aria_label": "Main menu"|t,
            "main_menu_modifiers": [ "minisite" ],
          } %}
        {% endblock %}
      </div>
    </div>
  </div>
</header>
