{{ attach_library("tampere/language-dropdown") }}

{% set language_dropdown__base_class = "language-dropdown" %}

{% set language_dropdown_id = language_dropdown_id|default("language-dropdown") %}
{% set language_dropdown_toggle_id = language_dropdown_toggle_id|default("language-dropdown-toggle") %}

<div id="{{ language_dropdown_id }}" {{ bem(language_dropdown__base_class, language_dropdown__modifiers|default([]), language_dropdown__blockname)}}>
  <button id="{{ language_dropdown_toggle_id }}" aria-haspopup="true" aria-expanded="false" {{ bem("toggle", language_dropdown__toggle__modifiers|default([]), language_dropdown__base_class)}}>
    <span class="visually-hidden">{{ "Switch language"|trans }}, {{ "current language"|trans }}: {{ current_language_name }}</span>
    <span {{ bem("langcode", language_dropdown__langcode__modifiers|default([]), language_dropdown__base_class)}} aria-hidden="true">{{ current_language_code|upper }}</span>
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_blockname: language_dropdown__base_class,
      icon_base_class: "toggle-icon",
      icon_name: "triangle",
      icon_decorative: true,
    } %}
  </button>
  <span class="visually-hidden mobile-description">{{ "Switch language"|trans }}, {{ "current language"|trans }}: {{ current_language_name }}</span>
  <ul role="{{ language_dropdown_list_role|default("menu") }}" aria-labelledby="{{ language_dropdown_id }}" {{ bem("menu", language_dropdown__menu__modifiers|default([]), language_dropdown__base_class)}}>
    {%- for key, item in links -%}
      <li role="menuitem" {{ bem("menu-item", language_dropdown__menu_item__modifiers|default([]), language_dropdown__base_class)}}>
        {%- if item.link -%}
          {{ item.link }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }} role="menuitem">{{ item.text }}</span>
        {%- else -%}
          <a class="language-link" href="{{ language_dropdown_example_link_url|default("#") }}">
            <span class="mobile">{{ key|upper }}</span><span class="desktop">{{ item.text }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</div>
