{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - liftups: Event liftups provided by tre_display_external_events and selections made on
 *   the node edit page.
 * - message_list: List of messages to be displayed, grouped by type.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set topical_listing__heading = paragraph.field_title.value %}
{% set topical_listing__summary = paragraph.field_summary.value %}

{% embed "@organisms/_paragraph.twig" %}
  {% block paragraph_content %}
    <div class="topical-listing topical-listing--events">
      <div class="topical-listing__wrapper">
        
        {% if topical_listing__heading %}
          <h2 class="topical-listing__heading h2 hyphenate">
            {{ topical_listing__heading }}
          </h2>
        {% endif %}
        
        {% if topical_listing__summary %}
          <p class="topical-listing__summary">
            {{ topical_listing__summary }}
          </p>
        {% endif %}
        
        <div class="eventz-liftups-container" data-paragraph-id="{{ paragraph.id.value }}">
          <div class="loader-wrapper" role="status">
            <div class="loader" aria-hidden="true"></div>
            <p class="loader-text">{{ 'Loading events'|t }}</p>
          </div>
          <ul class="topical-listing__liftups eventz-liftups-content"></ul>
        </div>
        
      </div>
    </div>
  {% endblock %}
{% endembed %}
