{% set content_img__base_class = "content-img" %}

{% if content_img__tag|render|trim %}
  {% set has_image_tag = TRUE %}
{% endif %}

{% if content_img__optional_tag|render|trim %}
  {% set has_optional_image_tag = TRUE %}
{% endif %}

{% if content_img__img__caption|render|trim %}
  {% set has_caption = TRUE %}
{% endif %}

{% if content_img__date|render|trim %}
  {% set has_date = TRUE %}
{% endif %}

{% if content_img__img__url %}
  {{ attach_library("tampere/image-gallery") }}

  {% if content_img__img__alt %}
    {% set content_img__img__link_alt = "Show image in a larger size: @alt"|t({ "@alt": content_img__img__alt }) %}
  {% elseif content_img__img__name %}
    {% set content_img__img__link_alt = "Show image @name in a larger size"|t({ "@name": content_img__img__name }) %}
  {% endif %}
{% endif %}

<figure {{ bem(content_img__base_class, content_img__modifiers, content_img__blockname)}}>
  {# Heading #}
  <div {{ bem("heading", content_img__heading__modifiers, content_img__base_class)}}>
    {% if has_image_tag %}
      <div {{ bem("heading-item", content_img__heading_item__modifiers, content_img__base_class)}}>
        {{ content_img__tag }}
      </div>
    {% endif %}
    {% if has_optional_image_tag %}
      <div {{ bem("heading-item", content_img__heading_item__modifiers, content_img__base_class)}}>
        {{ content_img__optional_tag }}
      </div>
    {% endif %}
     {% if has_date %}
        <div {{ bem("heading-item", content_img__heading_item__modifiers, content_img__base_class)}}>
          {{ content_img__date }}
        </div>  
      {% endif %}
  </div>

  {# Image #}
  {% block content_image %}
    {# Image link opening tag #}
    {% if content_img__img__url %}
      <a {{ bem("link", content_img__link__modifiers, content_img__base_class, [ "lightbox" ]) }}
        href="{{ content_img__img__url }}"
        aria-label="{{ content_img__img__link_alt }}"
        data-zoom="false"
      >
    {% endif %}

    {% if content_img__img__src %}
      {% include "@atoms/04-images/00-image/_image.twig" with {
        image_base_class: "figure",
        image_blockname: content_img__base_class,
        img_src: content_img__img__src,
        img_alt: content_img__img__alt,
      } %}
    {% else %}
      {{ content_img__img }}
    {% endif %}

    {# Image link closing tag #}
    {% if content_img__img__url %}
      </a>
    {% endif %}

  {% endblock %}

  {# Caption #}
  {% if has_caption %}
    <figcaption {{ bem("caption", content_img__cation__modifiers, content_img__base_class)}}>
      {{ content_img__img__caption}}
    </figcaption>
  {% endif %}
</figure>
