{% set link_list__base_class = "link-list" %}

{% set link_list__item_wrapper_element = link_list__item_wrapper_element|default("div") %}

<{{ link_list__item_wrapper_element }} {{ bem("list-item", (link_list__list_item__modifiers|default([])), link_list__base_class) }} {{ link_list__item_attributes }}>
  <a {{ bem("link", (link_list__link__modifiers|default([])), link_list__base_class) }} href="{{ link_list__item_url }}">
    <span {{ bem("link-text", (link_list__link_text__modifiers|default([])), link_list__base_class, [ "hyphenate" ]) }}>
      {{ link_list__item_text }}
    </span>
    {% block link_list_item_icon %}
      {% include "@atoms/04-images/icons/_icon.twig" with {
        is_external_link: is_external_link,
        icon_decorative: true,
        icon_base_class: "icon",
        icon_blockname: link_list__base_class,
        icon_extra_class: [ "regular" ],
        icon_filename: link_list__icon_filename,
        icon_name: link_list__item_icon|default("arrow"),
      } %}
    {% endblock %}
  </a>
</{{ link_list__item_wrapper_element }}>
