{% set archive_page__base_class = "archive-page" %}

<section {{ bem(archive_page__base_class, archive_page__modifiers|default([]), archive_page__blockname) }}>
  {% block archive_page__heading %}
    {% if archive_page__title %}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 1,
        "heading_blockname": archive_page__base_class,
        "heading_base_class": "title",
        "heading": archive_page__title,
      }%}
    {% endif %}
  {% endblock %}

  <div {{ bem("content", archive_page__content__modifiers|default([]), archive_page__base_class) }}>
    <div {{ bem("content-wrapper", archive_page__content_wrapper__modifiers|default([]), archive_page__base_class) }}>
      <div {{ bem("filters", archive_page__filters__modifiers|default([]), archive_page__base_class) }}>
        {% if filter_title_text %}
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 2,
            "heading": filter_title_text,
            "heading_blockname": archive_page__base_class,
            "heading_base_class": "filter-title",
          } %}
        {% endif %}
        {% block archive_page_filters %}{% endblock %}
      </div>

      <div {{ bem("header", archive_page__header__modifiers|default([]), archive_page__base_class) }}>
        {% block archive_page_header %}{% endblock %}

        {% if archive_page__link_url %}
          {% embed "@atoms/01-links/link/link.twig" with {
            "link_base_class": "link",
            "link_blockname": archive_page__base_class,
            "custom_classes": [ "link" ],
            "link_url": archive_page__link_url,
          } %}
            {% block link_content %}
              {{ "Search and filter all current content"|t }}
              {% include "@atoms/04-images/icons/_icon.twig" with {
                icon_base_class: "link-icon",
                icon_blockname: archive_page__base_class,
                icon_name: "arrow",
              } %}
            {% endblock %}
          {% endembed %}
        {% endif %}
      </div>

      <div {{ bem("archive-results", archive_page__archive_results__modifiers|default([]), archive_page__base_class) }}>
        {% block archive_page_content %}{% endblock %}
      </div>
    </div>
  </div>

  {% block archive_page_pager %}
    {% include "@molecules/pager/pager.twig" with {
      items: pager,
    } %}
  {% endblock %}
</section>
